# EAS Build exclusions
node_modules/
**/node_modules/
android/
**/android/
ios/
**/ios/
.expo/
**/ .expo/
dist/
web-build/
build/
.git/
.gitignore
.easignore
.env
*.mp4
*.zip
*.rar
*.log
debug_size.py